# Access Tuple using for and while Loop in Python

In [1]:
# For loop
tup = (1, 2, "three", 4.0)
for t in tup:
    print(t)

1
2
three
4.0

In [2]:
# While Loop
i = 0
while i<len(tup):
    print(tup[i])
    i+=1

1
2
three
4.0

# Slicing in Tuple

In [3]:
#Example:
tup = (1, 2, "three", 4.0, "four", "five", "six")
tup[0:3]

(1, 2, 'three')

In [4]:
tup[:3]

(1, 2, 'three')

In [5]:
tup[1:5]

(2, 'three', 4.0, 'four')

In [6]:
tup[4:]

('four', 'five', 'six')

In [ ]:
tup[-5:-1]

In [ ]:
tup[1:8:2]

In [ ]:
tup[-8:-1:2]

# Tuple Concatenation, Repeatition and Aliasing in Python

## Tuple Concatenation

**+** operator is used to do concatenation the tuple.

In [10]:
#Example:
tup1 =  (1,2,3)
tup2 = (7,8,9)
print(tup1 + tup2)
print(tup1)
print(tup2)

(1, 2, 3, 7, 8, 9)
(1, 2, 3)
(7, 8, 9)

## Repeatition of Tuple

**x** Operator is used to repeat the elements of tuple.

In [11]:
#Example:
tup1 =  (1,2,3)
tup1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Aliasing Tuple

Aliasing means giving another name to the existing object. It doesn't mean copying.

In [16]:
tup3 = (15,59,35,75)
tup4 = tup3
print(tup3)
print(tup4)

(15, 59, 35, 75)
(15, 59, 35, 75)

# Modifying Tuple Element in Python

Tuples are immutable so it is not possible to modify, update or delete it's element.

In [17]:
#Example:
tup5 = (34,67,115,157,59,456,35,75)
temp = list(tup5)
temp.append(982)
print(tuple(temp))

(34, 67, 115, 157, 59, 456, 35, 75, 982)

# Deleting Tuple in Python

We can delete entire tuple but not an element of tuple.

In [18]:
#Example:
tup3 = (15,59,35,75)
del tup3
print(tup3)

NameError: name 'tup3' is not defined

# Getting Tuple input from user in Python

In [19]:
#Example:
values = []
num = int(input("How many values? "))
for n in range(num):
    values.append(int(input(f"Enter number {n+1}: ")))
print(tuple(values))

How many values? 5
Enter number 1: 15
Enter number 2: 25
Enter number 3: 65
Enter number 4: 94
Enter number 5: 27
(15, 25, 65, 94, 27)

# How to Copy Tuple Elements in Python

We can copy elements of tuple into another tuple using slice.

In [20]:
#Example:
val = (15, 25, 65, 94, 27)
val2 = val[:]
print(val)
print(val2)

(15, 25, 65, 94, 27)
(15, 25, 65, 94, 27)