In [1]:
#Day 3

In [2]:
#variable does not need to be defined as string,float,integer, complex number it automatically takes the data
#Various ways to declaring variables
a,b,c = 5,"Ball", 3+4j
print(a,b,c)

5 Ball (3+4j)

In [3]:
a=b=c=10
print(a,b,c)

10 10 10

In [4]:
#symbolic constant
A = 10
A = 11
print(A)

11

In [5]:
#camel case= each word, except the first, starts with a capital letter
#example
cupOfTea = "Black Tea"
print(cupOfTea)

Black Tea

In [6]:
#Pascal case
CupOfTea = "Milk Tea"
print(CupOfTea)

Milk Tea

In [8]:
#snake case
cup_of_tea = "Lemon Tea"
print(cup_of_tea)

Lemon Tea

In [9]:
#Unpaking a collection
#example
lst = [1,2,3]
a,b,c = lst
print(a,b,c)

1 2 3

In [10]:
tup = (1,3,5)
a,b,c = tup
print(a,b,c)

1 3 5

In [12]:
a,*b,c = 10,25,50,30,50
print(a,b,c)

10 [25, 50, 30] 50

In [13]:
#operation variable
#example : math addition, int and float
a= 9
b= 30.5
a+b

39.5

In [14]:
#bad example
a= "9"
b= 30.5
a+b

TypeError: can only concatenate str (not "float") to str