## Remove empty strings from a list of strings

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]

Expected Output:

Original list of sting

['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']

After removing empty strings

['Emma', 'Jon', 'Kelly', None, 'Eric']

In [17]:
#Solution Here:
a =str([Emma,john,Kelly,None,Eric])
del(a, )
print(a )

NameError: name 'Emma' is not defined

## Reverse a given list in Python

aLsit = [100, 200, 300, 400, 500]

Expected output:

[500, 400, 300, 200, 100]

In [19]:
#Solution Here:
aList = [100,200,300,400,500]

NameError: name 'Reverse' is not defined

## Given a Python list of numbers. Turn every item of a list into its square

Given:

aList = [1, 2, 3, 4, 5, 6, 7]

Expected output:

[1, 4, 9, 16, 25, 36, 49]

In [3]:
#Solution Here:

## Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:

list1 = [5, 10, 15, 200, 25, 50, 20]

In [2]:
#Solution Here:
list1 = [5, 10, 15, 20, 25, 50, 20]
if 20 in list1:
    i = list1.index(20)
    list1[i] = 200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

## Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [5]:
#Solution Here:

## Assign the first element of the list to answer_1 on line 2.

lst=[11, 100, 99, 1000, 999]

answer_1=

print(answer_1)

In [6]:
#Solution Here:

## Print the second element directly inside print function. You should get 100.

lst = [11,100,101,999,1001]

print()

In [7]:
#Solution Here:

## Add the string "pajamas" to the list.

gift_list=['socks', '4K drone', 'wine', 'jam']

In [8]:
#Solution Here:

## Insert "slippers" to index 3 of gift_list.

gift_list=['socks', '4K drone', 'wine', 'jam']

In [9]:
#Solution Here:

## Assign the index no of 8679 to the variable answer_1.

lst = [55,777,54,6,76,101,1,2,8679,123,99]

answer_1=

In [10]:
#Solution Here:

## Remove the last element of the list.

lst = [55,777,54,6,76,101,1,2,8679,123,99]

In [11]:
#Solution Here:

## Reverse the list using reverse method.
lst = [55,777,54,6,76,101,1,2,8679,123,99]

In [12]:
#Solution Here:

## Count how many times 6 occur in the list.
lst = [6,777,54,6,76,101,6,2,8679,123,66]

In [13]:
#Solution Here:

## What is the sum of all the numbers in the list?
lst = [6,777,54,6,76,101,6,2,8679,123,66]

use loop(for or while)

In [14]:
#Solution Here:

## What is the greatest number in the list?
lst = [6,777,54,6,76,101,6,2,8679,123,66]

use loop(for or while)

In [3]:
#Solution Here:
lst = [6,777,54,6,76,101,6,2,8679,123,66]
max(lst)

8679

## What is the lowest number in the list?
lst = [6,777,54,6,76,101,6,2,8679,123,66]

use loop(for or while)

In [16]:
#Solution Here:

## lst = [12,15,38,59,64,72,46,28,43,19,44]
Create two new list containing odd and even numbers from above list.

use loop(for or while)

In [17]:
#Solution Here:

## rhymes = [['cat', 'hat', 'fat'], ['mouse', 'house', 'louse'], ['be', 'see', 'key', 'he']]

Make a new list from above list with the elements which ends with 'e'.

Expected outcome = ['mouse', 'house', 'louse', 'be', 'see', 'he']

In [18]:
#Solution Here:

## [[2, 6], [3, 10], [15,5], [23,41], [1, 8, 15, 22, 29], [14,45,28]]
Create a new list which contains sum of each children list from above.

Expected outcome = [8,13,20,64,75,87]

In [19]:
#Solution Here:

## alist = [ [4, [True, False], 6, 8], [888, 999] ]
Use a for loop and print out the index value for each element in above list.

Expected outcome:

4 = alist[0][0]

True = alist[0][1][0]

False = alist[0][1][1]

6 =alist[0][2]

8=alist[0][3]

888=alist[1][0]

999=alist[1][1]

In [14]:
#Solution Here:
alist = [[4, [True, False], 6, 8], [888, 999]]
for i,level1 in enumerate(alist):
    for j, level2 in enumerate(level1):
        if type(level2) == list:
            for k,level3 in enumerate(level2):
                print(level3, "=", f"alist[{i}][{j}[{k}]]")
        else:
            print(level2, "=", f"alist[{i}][{j}]")

4 = alist[0][0]
True = alist[0][1[0]]
False = alist[0][1[1]]
6 = alist[0][2]
8 = alist[0][3]
888 = alist[1][0]
999 = alist[1][1]

## Add item 7000 after 6000 in the following Python List.
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Expected outcome = [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [21]:
#Solution Here:

## Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list.
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

Expected outcome = ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [22]:
#Solution Here:

## Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value.
list1 = [5, 10, 15, 20, 25, 50, 20]

Expected outcome = list1 = [5, 10, 15, 200, 25, 50, 20]

In [23]:
#Solution Here:

## Write a Python program to get the difference between the two lists and save the difference in new list.
lst1 = [12,35,75,86,42,91]

lst2 = [26,15,48,59,73,46]

Use for loop.

Expected outcome : 

difference = [-14,20,27,27,-31,45 ]

In [24]:
#Solution Here:

## Write a Python program to convert a list of characters into a string.
lst = ['S', 'm', 'a', 'r', 't', 'p', 'h', 'o', 'n', 'e']

Expected outcome :

s  = "Smartphone"

In [25]:
#Solution Here:

## Write a Python program to flatten a shallow list.
original_list = [[2,4,3],[1,5,6], [9], [7,9,0], 15,59,75,53]

Expected outcome :

output =  [2,4,3,1,5,6, 9, 7,9,0, 15,59,75,53]

In [26]:
#Solution Here:

## Write a Python program to append a list to the second list.
list1 = ["NextSTEP", "InfoTech", "Training", "Center"]
list2 = ["Next", "Skill", "That", "Edify", "Passion"]
Also create another list with len of each words.

Expected outcome :

combine = ["NextSTEP", "InfoTech", "Training", "Center", "Next", "Skill", "That", "Edify", "Passion"]

counter = [8,8,8,5,4,4,4,5,7]

In [27]:
#Solution Here: