# Type Conversion

Converting one data type into another data type is called type conversion.

## Types of Type Conversion

1. Implicit Type Conversion
2. Explicit Type Conversion

### Implicit Type Conversion

In implicit type conversion, python automatically converts one data type into another data type.

In [1]:
#Example: Division between two integers
5/2

2.5

In [2]:
#Example: Sum between integer and float

In [2]:
10+5.5

15.5

### Explicit Type Conversion

In explicit type conversion, we convert one data type into another data type.

1. int(n)
2. float(n)
3. complex(n)
4. complex(x,y) where x is real and y is imaginary part
5. str(n)
6. list(n)
7. tuple(n)
8. bin(n)
9. oct(n)
10. hex(n)

#### Conversion between Numeric data types

In [3]:
#Example:

In [4]:
#Integer to float
num = 15
print(num, type(num))
num1 = float(num)
print(num1, type(num1))

15 <class 'int'>
15.0 <class 'float'>

In [5]:
#Float to integer
num2 = 15.67
num3 = int(num2)
print(num3)

15

In [6]:
#Integer to Complex
complex(num)

(15+0j)

In [7]:
#Float to complex
complex(num2)

(15.67+0j)

You cannot convert complex numbers into another number type.

In [8]:
#Complex to int
c = 5+6j
int(c)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [9]:
#Complex to float
float(c)

TypeError: float() argument must be a string or a real number, not 'complex'

#### Conversion between String and Numeric data types

In [10]:
#Example:

In [11]:
#Numeric to String
num4 = 15
str(num4)

'15'

In [12]:
#String to Numeric
st = "19"
int(st)

19

You cannot convert non numeric string data into number type.

In [13]:
#Convert String to Number which is Non numeric
st2 = "Name Please"
int(st2)

ValueError: invalid literal for int() with base 10: 'Name Please'

#### Conversion between Sequence data types

In [14]:
#Example:

In [14]:
#Range to list
r1 = range(5,60,8)
list(r1)

[5, 13, 21, 29, 37, 45, 53]

In [15]:
#Range to tuple
r1 = range(5,60,8)
tuple(r1)

(5, 13, 21, 29, 37, 45, 53)

In [16]:
#List to tuple
lst = ["a", "b","c", "d"]
tuple(lst)

('a', 'b', 'c', 'd')

In [18]:
#Tuple to list
tup1 = ('a', 'b', 'c', 'd')
print(list(tup1))

['a', 'b', 'c', 'd']

You cannot convert list and tuple into range.

In [19]:
#List to range
range(lst)

TypeError: 'list' object cannot be interpreted as an integer

In [20]:
#Tuple to range
range(tup1)

TypeError: 'tuple' object cannot be interpreted as an integer

#### Conversion between Sequence and Set Data types

In [21]:
#Example:

In [21]:
#List to set
set(lst)

{'a', 'b', 'c', 'd'}

In [22]:
#Tuple to set
set(tup1)

{'a', 'b', 'c', 'd'}

In [24]:
#Set to List
s1 = {12,45,96,558,87}
list(s1)

[96, 87, 12, 45, 558]

In [25]:
#Set to tuple
tuple(s1)

(96, 87, 12, 45, 558)

You cannot convert sequence data types into mapping data types.

In [26]:
#List to dict
dict(lst)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [27]:
#tuple to dict
dict(tup1)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [28]:
#set to dict
dict(s1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence