In [1]:
#loop
#1)FOr loop and nested for loop in python , used for repeated process,
#2) while loop can be used for limited and unlimited loop

In [65]:
#Example
p = "python language."
print(p[0])
print(p[1]) #indexing

for i in p:
    print(i)

p
y
p
y
t
h
o
n

l
a
n
g
u
a
g
e
.

In [10]:
#example
for i in [12,45,22,16]:
    print(i)

12
45
22
16

In [11]:
#for loop with range
r = range(5,100,12)
print(r)

range(5, 100, 12)

In [13]:
for r in range(2,10,2):
    print(r)

2
4
6
8

In [14]:
#for loop with len to use inside range
#Example
lst = [14,5,8,6,1345]
len(lst)

5

In [15]:
for i in range(len(lst)):
    print(i)

0
1
2
3
4

In [16]:
for i in range(len(lst)):
    print(lst[i])

14
5
8
6
1345

In [17]:
#for loop with condition
#Example1: condition inside for loop
lst = [10,51,245,21566,21663233,226423]
for l in lst:
    if l%2 == 0:
        print(l, "is even")
    else:
        print(l,"is odd")

10 is even
51 is odd
245 is odd
21566 is even
21663233 is odd
226423 is odd

In [18]:
i = range(1,11)
for lst in i:
    print(lst)

1
2
3
4
5
6
7
8
9
10

In [40]:
i = "FLOWER"
for j in i:
    print(j)

F
L
O
W
E
R

In [38]:
mul = int(input("Enter any number for multiple"))
for i in range(1,11):
    print(mul,"x", i,"=", i*mul)

Enter any number for multiple8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [56]:
i = range(int(input("Enter any number")),int(input("Enter any number greater than previous number")))
for k in i:
    for j in range(1,11):
        print(k, "x", j, "=",k*j)
    else:
        print("Table of", k, " is completed")

Enter any number0
Enter any number greater than previous number1
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
0 x 10 = 0
Table of 0  is completed

In [57]:
#Enumerate function in python
#normal for loop
for i in [14,25,15514,12541,2542]:
    print(i)

14
25
15514
12541
2542

In [58]:
#for loop with index
index = 0
for i in [14,25,15514,12541,2542]:
    print(index,i)
    index +=1

0 14
1 25
2 15514
3 12541
4 2542

In [66]:
#using enumerate function (important)
i = [14,25,15514,12541,2542]
for i,j in enumerate(i):
    print(i,j)

0 14
1 25
2 15514
3 12541
4 2542

In [64]:
i = [14,25,15514,12541,2542]
for i,j in enumerate(i,3):
    print(i,j)

3 14
4 25
5 15514
6 12541
7 2542

In [77]:
for i,letter in enumerate("APPLE"):
    print(i,letter)

0 A
1 P
2 P
3 L
4 E

In [68]:
for i,j in enumerate("APPLE",1):
    print(i,j)

1 A
2 P
3 P
4 L
5 E

In [76]:
lst = range(1,6)
for k in lst:
    print(k,k**2)

1 1
2 4
3 9
4 16
5 25