# Set Type in Python

A set is an unordered collection of elements much like a set in mathematics.

The order of elements is not maintained in the sets. It means the elements may not appear in the same order as they are entered into the set.

A set does not accept duplicate elements.

Set is mutable so we can modify it.

Sets are unordered so we can not access its element using index.

Sets are represented using curly brackets { }.

avengers = {"Iron Man", "Hulk". "Captain America", "Thor", "Black Widow", "Hawkeye"}

## Creating a Set

A set is created by placing all the items(elements) inside curly braces {}, separated by comma.

A set does not accept duplicate elements.

Elements can be of different types except mutable element, like list, set or dictionary.

In [1]:
set1 = {12,35,65,8}
print(set1, type(set1))

{8, 65, 35, 12} <class 'set'>

In [2]:
set2 = set([15,36,95,8])
print(set2, type(set2))

{8, 36, 95, 15} <class 'set'>

## Creating Empty Set

We can create an empty set using set() function.

In [3]:
set3 = {}
print(type(set3))

<class 'dict'>

In [5]:
set4 =  set()
print(type(set4))

<class 'set'>

## Accessing elements

Sets are unordered so we cannot access its element using index.

In [6]:
#Example:
set5 = {12,45,78,96,3,5}
set5[2]

TypeError: 'set' object is not subscriptable

# Accessing Set Elements using for and while Loop in Python

In [7]:
#Example:for loop
set5 = {12,45,78,96,3,5}
for s in set5:
    print(s)

96
3
5
12
45
78

In [8]:
#Example:while loop - Error
i = 0
while i<len(set5):
    print(set5[i])
    i += 1

TypeError: 'set' object is not subscriptable

# Getting Set input from User in Python

In [4]:
#Example:

In [9]:
num = int(input("How many elements to add? "))
s = set()
for i in range(num):
    s.add(int(input("Enter your number: ")))
print(s)

How many elements to add? 5
Enter your number: 15
Enter your number: 36
Enter your number: 258
Enter your number: 69
Enter your number: 47
{258, 36, 69, 47, 15}