## Remove duplicate items from  a tuple.
numbers = (13,46,79,17,28,39,19,73,19,46,73,28,13)

Expected Output:

numbers = (13,46,79,17,28,39,19,73)

In [5]:
##Solution Here:
numbers = (13,46,79,17,28,39,19,73,19,46,73,28,13)
print(tuple(set(numbers)))

(39, 73, 13, 46, 79, 17, 19, 28)

## Reverse the following tuple.
aTuple = (10, 20, 30, 40, 50)

Expected Output:
    
(50, 40, 30, 20, 10)

In [11]:
##Solution Here:
aTuple = (10, 20, 30, 40, 50)
aTuple[::-1]

(50, 40, 30, 20, 10)

## Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))

In [23]:
##Solution Here:
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
aTuple[1 : 3]

([10, 20, 30], (5, 15, 25))

## Create a tuple with single item 50

In [4]:
##Solution Here:

## Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)

Expected Output:
    
aTuple = (10, 20, 30, 40)

**Your code**

print(a) # should print 10

print(b) # should print 20

print(c) # should print 30

print(d) # should print 40

In [5]:
##Solution Here:

## Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

Expected Output:
    
tuple1 = (99, 88)

tuple2 = (11, 22)

In [25]:
##Solution Here:
tuple1 = (11, 22) 
tuple2 = (99, 88)

tuple1,tuple2 = (99,88),(11,22)
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

## Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)

Expected Output:
    
tuple2: (44, 55)

In [7]:
##Solution Here:

## Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)

Expected Output:
    
tuple1: (11, [222, 33], 44, 55)

In [8]:
##Solution Here:

## Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

Expected Output:
    
(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [30]:
##Solution Here:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
numbers = []
for tup in tuple1:
   numbers.append(tup[-1])
print(tup)

('d', 29)

## Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)

Expected Output: 2

In [10]:
##Solution Here:

## Check if all items in the following tuple are the same
tuple1 = (45, 45, 45, 45)

Expected Output: TRUE

In [33]:
##Solution Here:
tuple1 = (45, 45, 45, 45)
x = set(tuple1)
if len (x)==1:
    print("True")
else:
    print("False")

True