## Below are the two lists convert it into the dictionary.
keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

Hint: Use Loop

In [ ]:
#Solution Here:

## Merge following two Python dictionaries into one
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Expected Outcome:
    
dict3 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
#Solution Here:

## Access the value of key ‘history’ from the below dict
sampleDict = { "class":{ "student":{ "name":"Mike","marks":{ "physics":70,"history":80} } } }

Expected Outcome: 80

In [ ]:
#Solution Here:

## Initialize dictionary with default values.
employees = ['Manish', 'Puran', 'Sarun','Hari']

defaults = {"designation": 'Python Developer', "salary": 40000}

In [ ]:
#Solution Here:

## Create a new dictionary by extracting the following keys from a below dictionary
Given dictionary:

sampleDict = {"name": "Mahesh","age":25,"salary": 80000,"city": "Kathmandu"}

keys = ["name", "salary"]

Hint: Use for loop

In [ ]:
#Solution Here:

## Modify the value of salary to 120000 in the following dictionary
sampleDict = {"name": "Mahesh","age":25,"salary": 80000,"city": "Kathmandu"}

In [ ]:
#Solution Here:

## Get the key of a minimum value from the following dictionary
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75,
  'Computer':95,
  'Chemistry':56
}

Hint: Use for loop

In [ ]:
#Solution Here:

## Change Hanuman’s salary to 85000 from a given Python dictionary
sampleDict = {
     'emp1': {'name': 'Ram', 'salary': 75000},
     'emp2': {'name': 'Ravan', 'salary': 80000},
     'emp3': {'name': 'Hanuman', 'salary': 65000}
}

In [ ]:
#Solution Here:

## Given a dictionary in Python, write a Python program to find the sum of all Items in the dictionary.

Input : {'a': 100, 'b':200, 'c':300}

Expected Outcome: 600

In [ ]:
#Solution Here:

## Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.

Expected Outcome:

dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [ ]:
#Solution Here:

## "Write a Python program to remove duplicates from Dictionary.
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}"

In [ ]:
#Solution Here:

## Write a Python program to combine two dictionary adding values for common keys.
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [ ]:
#Solution Here:

## Write a Python program to print all unique values in a dictionary.
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [ ]:
#Solution Here:

## Write a Python program to create a dictionary from a string. 
str1 = "Unemployment"

Note: Track the count of the letters from the string.

Expected Outcome:

{'U': 1, 'n': 2, 'e': 2, 'm': 2, 'p': 1, 'l': 1, 'o': 1, 'y': 1, 't': 1}

In [1]:
#Solution Here:
str1 = "Unemployment"
count = {}
for s in str1:
    if s in count.keys():
        count[s]

U
n
e
m
p
l
o
y
m
e
n
t

## {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}.
Create list for keys and list for values from above dictionary.

Expected Outcome:

['Cierra Vega', 'Alden Cantrell', 'Kierra Gentry', 'Pierre Cox']

[175, 180, 165, 190]

In [ ]:
#Solution Here: