# Declaring and Initializing Variables in Python

## Various ways to declaring a variable

In [1]:
#Example: Integer, Float, String(2)
a = 10
b = 10.25
c1 = "Double quote"
c2 = 'Single quote'

We can assign values to multiple variables in one line in python.

In [3]:
#Example:
a,b,c = 10,"Apple", 2+5j
print(a, b, c)

10 Apple (2+5j)

We can also assign same value to multiple variables

In [5]:
#Example:
a,b,c = 10, 10, 10
print(a,b,c)

10 10 10

In [6]:
a = b = c = 10
print(a,b,c)

10 10 10

In [7]:
#Symbolic constant
A = 10
A = 11 # Should not be updated.
print(A)

11

Variables do not need to be declared with any particular type.

In [9]:
#Example:
a = 10
print(type(a))

<class 'int'>

We can even change type after they have been set.

In [10]:
#Example:
lst = [12,45,474,7]
print(type(lst))
tup = tuple(lst)
print(type(tup))

<class 'list'>
<class 'tuple'>

## Multiwords Variable Names

Variable names with more than one word can be difficult to read. There are several techniques you can use to make them more readable:

### Camel Case:

Each word, except the first, starts with a capital letter:

In [11]:
#Example:
cupOfTea = "Black Tea"
print(cupOfTea)

Black Tea

### Pascal Case:

Each word starts with a capital letter:

In [12]:
#Example:
CupOfTea = "Milk Tea"
print(CupOfTea)

Milk Tea

### Snake Case:

All words are lower case and each word is separated by an underscore character:

In [13]:
#Example:
cup_of_tea = "Green Tea"
print(cup_of_tea)

Green Tea

## Unpacking a collection

In [14]:
#Example:
lst = [12,35,48]
a,b,c = lst
print(a,b,c)

12 35 48

In [15]:
tup = (12,35,48)
a,b,c = tup
print(a,b,c)

12 35 48

In [16]:
a,b = lst

ValueError: too many values to unpack (expected 2)

In [17]:
a,b,c,d = lst

ValueError: not enough values to unpack (expected 4, got 3)

In [18]:
a,*b,c = 10,25,35,68,48,574,854,78
print(a,b,c)

10 [25, 35, 68, 48, 574, 854] 78

In [19]:
*a, b, c = 10,25,35,68,48,574,854,78
print(a,b,c)

[10, 25, 35, 68, 48, 574] 854 78

## Operations with Variables

In [21]:
#Example: Math addition, int and float.
a = 10
b = 20.5
a+b

30.5

In [22]:
#Bad Example: int, string
a = "10"
b = 20.5
a+b

TypeError: can only concatenate str (not "float") to str